@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida varius aliquam. Nullam varius vitae mauris eu malesuada. In sit amet tellus at erat pharetra lobortis. Vestibulum eu neque dapibus velit commodo varius. Maecenas imperdiet nulla sed aliquet pellentesque. Praesent eget consequat urna, vel malesuada odio. Vivamus dapibus velit vitae erat suscipit, sed mattis dolor ultricies. Nunc pharetra ante in diam dictum dapibus.
    </p>

    <p>
        Integer ultrices convallis elit, quis pretium ipsum. Duis malesuada condimentum orci. Phasellus vitae vehicula nisi. Donec eu fermentum tortor. Praesent sed consectetur ipsum. Duis non volutpat nulla, eu commodo sem. Quisque efficitur, ligula non laoreet sagittis, sem tortor lobortis diam, volutpat maximus elit lorem eget ante. Sed a lacus ultricies lorem lacinia aliquet quis vel leo. Mauris ullamcorper ac urna in interdum.
    </p>

    <p>
        Nunc vestibulum luctus sapien a scelerisque. Vivamus cursus est non quam dictum, eget pretium augue dictum. Fusce convallis molestie neque vitae hendrerit. Sed turpis eros, ultricies a hendrerit sit amet, imperdiet ut dolor. In tristique, lacus non efficitur aliquet, ante metus rhoncus orci, non fringilla massa enim sit amet eros. Praesent aliquet mauris non fringilla volutpat. Suspendisse potenti. Suspendisse ut orci augue. Fusce et ante lectus. Nunc fringilla, felis in imperdiet ultricies, arcu sem laoreet lorem, interdum elementum tortor metus eleifend sem.
    </p>

    <p>
        Sed dapibus eget diam ac ullamcorper. Suspendisse vehicula quam vitae condimentum commodo. Pellentesque pharetra nulla a dui cursus, finibus varius lacus scelerisque. Donec consequat volutpat maximus. Fusce eget imperdiet tellus, non sagittis mauris. Duis nec tincidunt erat. Vestibulum ante dolor, facilisis at arcu non, luctus venenatis neque. Suspendisse rhoncus ligula in massa laoreet, ac lobortis augue bibendum. Nunc finibus ultricies massa, eget volutpat eros.
    </p>

    <p>
        Nam eleifend blandit odio, id semper metus pharetra eget. Vestibulum sed sem at nunc malesuada blandit. Curabitur ante erat, pellentesque pretium tellus mattis, egestas auctor tortor. Mauris tincidunt facilisis diam quis auctor. Cras nec nibh nisi. Suspendisse quis sagittis arcu. Morbi quam ante, fringilla sed dui et, mattis rutrum justo.
    </p>

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
</div>
